body {
  margin: 0;
  background: #0f172a;
  color: #f8fafc;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.left {
  flex: 0.9;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 20px;
}

.right {
  flex: 1.1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;

  padding: 20px;
  align-content: start;
}

h1 {
  font-size: 64px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  opacity: 0.85;
  margin: 0;
}

.slogan {
  color: #60a5fa;
  font-size: 18px;
  letter-spacing: 2px;
}

.intro {
  max-width: 500px;
  line-height: 1.8;
  opacity: 0.8;
  margin: 20px 0;
}

.tags span {
  display: inline-block;
  background: #1e293b;
  padding: 8px 14px;
  margin: 5px;
  border-radius: 999px;
}

.video-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.video-card:hover {
  transform: translateY(-6px) scale(1.01);
}

.featured-project {
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    padding: 20px;

    border-radius: 16px;
    background: rgba(30,41,59,.6);

    border: 1px solid rgba(96,165,250,0.3);

    transition: 0.3s ease;
}

.featured-project img {
    width: 400px;
    height: 220px;

    object-fit: cover;
    border-radius: 12px;

    flex-shrink: 0;
}

.featured-content {
    flex: 1;
}

.featured-project:hover {
  transform: translateY(-6px) scale(1.01);

  box-shadow:
    0 15px 35px rgba(0,0,0,0.4),
    0 0 20px rgba(96,165,250,0.3);
}

.project-card {
  background: rgba(17, 24, 39, 0.8);
  backdrop-filter: blur(10px);

  padding: 18px;
  border-radius: 18px;

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 8px 20px rgba(0,0,0,0.25);

  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px) scale(1.01);

  box-shadow:
    0 15px 35px rgba(0,0,0,0.4),
    0 0 0 1px rgba(96,165,250,0.2);
}

a {
  color: #60a5fa;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #93c5fd;
  text-decoration: underline;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin:0;
}

@media (max-width: 900px) {

  .layout {
    flex-direction: column;
    height: auto;
  }

  .left,
  .right {
    padding: 40px 20px;
  }

  .featured-project {
    flex-direction: column;
  }

  .featured-project img {
      width: 100%;
      height: 200px;
  }
}